@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto","Arial", sans-serif;
    background-color: #fff; /* Light mode background color */
    color: #000; /* Light mode text color */
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode {
    background-color: #1a1a1a; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}
.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img {
    width: 46%;
    padding-left: 16px;
}
.mid-section {
    display: flex;
    align-items: center;
    margin-left: -9%;
}
.mid-section form {
    display: flex;
    height: 40px;
    width: 628px;
}
.mid-section input {
    width: 100%;
    border-radius: 40px 0 0 40px;
    font-size: 1.6rem;
    padding: 12px;
    border: 1px solid #d3d3d3;
    border-right: none;
    font-weight: 400;
    line-height: 24px;
    max-width: 100%;
}
.mid-section button {
    width: 64px;
    border: 1px solid #d3d3d3;
    border-radius: 0 40px 40px 0;
    padding-top: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.mid-section:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}
.mid-section .mic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.right-section {
    position: relative;
}
.right-section .names {
    border: 1px solid #d3d3d3;
    border: none;
    border-radius: 40px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.right-section .names button .vert {
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    margin-right: 20px;
    padding: 4px;
    width: 35px;
    height: 35px;
}
.right-section .names button {
    border: none;
    cursor: pointer;
}
.right-section .names {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
}
.right-section .names button {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #f8f8f8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section a {
    font-size: 1.6rem;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}
.right-section .names .sign-in {
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    color: #065fd4;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    border-radius: 18px;
}
.right-section .names .sign-in p {
    text-align: center;
    width: max-content;
}
.right-section .item {
    position: absolute;
    z-index: 1;
    top: 35px;
    transition: 0.5s;
}
.right-section .item ul {
    list-style: none;
    background-color: #f8f8f8;
    height: 0;
    transition: 0.5s;
    padding-left: 10px;
    right: -20px;
    top: calc(100% + 15px);
    display: none;
}
section .names button .vert:hover {
    display: block;
}
.right-section .item ul hr {
    color: #717171;
    height: 3px;
}
.right-section .item ul li {
    display: block;
    padding: 6px;
    text-decoration: none;
    transition: 0.5s;
} 
.right-section .item ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.right-section .item ul li a i {
    padding-bottom: 5px;
    margin-top: 5px;
}
/* content-area */
.content-area {
    height: calc(100vh - 56px);
    display: flex;
    background-color: #f9f9f9;
}
aside {
    height: 100%;
    width: 200px;
    background-color: white;
    overflow-y: auto;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right: 15px;
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}
.nav-link span {
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 400;
    color: #030303;
}
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.07);
}
.active {
    background-color: #e5e5e5;
}
#active-span {
    font-weight: 500;
}
hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0;
}
#sbs {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    text-transform: none;
    padding: 8px 10px;
}
nav p {
    font-size: 1.4rem;
    color: #606060;
    font-weight: 500;
    padding: 8px 16px;
    text-transform: uppercase;
}
.channel-img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
.saba7o {
    text-align: center;
    margin-left: 15px !important;
}
.sign {
    padding: 10px 16px;
}
.sign-in {
    display: flex;
    align-items: center;
    color: #065fd4;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
}
.sign-in i {
    padding-left: 5px;
    margin-right: 4px;
}
.sign-in p {
    color: #065fd4;
    text-transform:unset ;
    padding-left: 5px;
}
#ex {
    line-height: 2rem;
    text-transform: unset;
}
/************************** MAIN **********************************/
main {
    width: 100%;
    height: 100%;
    padding: 35px 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
}
.video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video {
    width: 330px;
    margin-bottom: 40px;
    cursor: pointer;
}
.thumbnail {
    width: 100%;
    height: 187px;
    margin-bottom: 12px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}
.video-details {
    display: flex;
}
.creator-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.title {
    display: flex;
    flex-direction: column;
}
.title a {
    text-decoration: none;
}
.video-title {
    color: rgb(3,3,3);
    font-size: 1.6rem;
    max-width: 278px;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 2px;
    overflow: hidden;
}
.video-creator , .title span{
    color: rgb(96,96,96);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}
.video-creator:hover {
    color: black;
}
/*For Mobile*/
@media (min-width: 200px) and (max-width: 399px) {
    .left-section {
        width: 150px;
    }
    .left-section img {
        display: none;
    }
    .mid-section {
        width: auto;
    }
    .right-section .names button .vert {
        padding-top: 0px;
        width: auto;
        height: auto;
    }
    .right-section .names button {
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media (max-width: 500px) {
    header {
        padding: 0 8px;
    }
    .left-section img {
        width: 55%;
        padding-left: 8px;
    }
    .mid-section form {
        width: auto;
    }
    .mid-section .mic {
        width: 60px;
        height: 34px;
    }
    .right-section .names button {
        padding-left: 5px;
        padding-right: 5px;
    }
    .right-section .names button .vert {
        margin-right: 0;
        width: auto;
    }
    main {
        padding: 14px 6px;
    }
    aside {
        height: auto;
        width: 190px;
    }
    nav {
        margin: 8px 0;
        padding-right: 0px;
    }
    .sign-in i {
        padding-left: 0px; 
        margin-right: 0px; 
    }
}
/*For Tablet*/
@media (min-width: 501px) and (max-width: 768px) {
    .left-section img {
        width: 45%;
        padding-left: 8px;
    }
    .mid-section form {
        width: auto;
    }
}
/*For Pc*/
@media (min-width: 769px) and (max-width: 869px) {
    .mid-section form {
        width: 360px;
    }
    .left-section img {
        width: 55%;
    }
}
@media (min-width: 870px) and (max-width: 1024px) {
    .mid-section {
        margin-left: 0;
        margin: auto;

    }
    .left-section img {
        width: 65%;
        padding-left: 16px;
    }
    .mid-section form {
        width: 444px;
    }
}

